In [1]:
# 1) Mean/Median Age (Age_Days) - Descriptive Statistics Mean/IQR
# 2) Mean/Median Weight (WT_KGS) - Descriptive Statistics Mean/IQR
# 3) Gender distribution (GENDER) - significant differences? - One Way Chi Squre
# 4) Most common Breeds (BREED) - One Way Chi Squre
# 5) Most common shunts (SHUNT) - One Way Chi Squre
# 6) Most common portal vein origin (PORTAL_V) - One Way Chi Squre
# 7) Most common systemic vein insertion (SYSTEM_V) - One Way Chi Squre
# 8) Most common contributing vessels (CONTRB_V) - One Way Chi Squre
# 9) PP score distribution (PP_Score) - One Way Chi Squre and Descriptive Statistics Mean/IQR (age, wt, and pps_n are set as continuous exploratory)

# Cross tab frequencies and ANOVA
# HOSPITAL COMPARISONS (HOSPITAL):
# 10) Do the above values differ AMONG HOSPITALS (HOSPITAL) - Two Way Chi Squre (Comprehensive pairwise comparisons reveals)

# Cross tab frequencies and ANOVA
# COUNTRY COMPARISONS (COUNTRY):
# 11) Do the above values differ AMONG COUNTRIES (COUNTRY)  - Two Way Chi Squre (Comprehensive pairwise comparisons reveals)

# Cross tab frequencies and ANOVA
# BREED COMPARISONS (BREED): [5 MOST COMMON BREEDS]
# 12) What is Gender distribution (GENDER) comparison among 5 most common breeds (BREED)? - Two Way Chi Squre (Comprehensive pairwise comparisons reveals)
# 13) What is Age distribution (Age_Days) comparison among 5 most common breeds (BREED)? - Sub ANOVA limited to breeds 61, 38, 53, 35, 47
# 14) What are 5 most common Shunts  (SHUNT) comparison among 5 most common breeds (BREED)? - Two Way Chi Squre (Comprehensive pairwise comparisons reveals)
# 15) What is PP Score (PP_Score) comparison among 5 most common breeds (BREED)? # Probably best looked at categorically with two-way
# comprehensive chi-square for contingency table first time (Comprehensive pairwise comparisons reveals)


# Regression and ANOVA
# AGE COMPARISONS (Age_Days):
# 16) Does AGE (Age_Days) correlate with Breed (BREED) - RQ 13 handles this with age as DV and Breed (Top 5) as IV with 5 class levels fo breed
# 17) Does AGE (Age_Days) correlate with PP Score (PP_Score) - Standard ANOVA but similar issue with shunt type having a lot of cats, see 18
# 18) Does AGE (Age_Days) correlate with Shunt (SHUNT) - There are 44 different shunt types (shunt type is not ordinal) and age is continuous. 
#  An ANOVA would 
# not yield meaningful results iwth the 44 goups giving a mean age for pairise comparisons.  We could contribute collapsing shunt and 
# bucketing age.


# SHUNT COMPARISONS (SHUNT) ANOVA:
# 19) Does Shunt (SHUNT) correlate with Weight (WT_KGS)    [Above and below mean/median?] - see 20
# 20) Does Shunt (SHUNT) correlate with PP Score (PP_Score) There are 44 different shunt types (non-ordinal) and 11 (with one missing) pp Score.  
# This could be a 
# either a huge cross tab or a difficlt it interpret ANOVA.   Need to define DV/IV an consider collpasing (top 5?) Shunt Type. See 17 and 18

# Breed ANOVA and Cross Tab
# These (21, 22, 23) are all caegorical with multiple and in most cases non-ordinal categorization making inelgible for regression and 
# multiple categories difficult to interpret with thin data classes for ANOVA.  Suggest first round (Comprehensive pairwise comparisons reveals)
# 21) Does PV origin (PORTAL_V) correlate with breed (BREED) # Cross Tab Frequency - Two Way Chi Square
# 22) Does systemic v insertion (SYSTEM_V) correlate with breed (BREED) # Cross Tab Frequency - Two Way Chi Square
# 23) Do contributing vessels (CONTRB_V) correlate with breed (BREED) # Cross Tab Frequency - Two Way Chi Square

In [1]:
from tabulate import tabulate
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from matplotlib.backends.backend_pdf import PdfPages
from datetime import datetime
today = datetime.today().strftime("%Y-%m-%d")
now = datetime.now()


#Stats Import
from scipy.stats import wilcoxon 
# from numpy.random import seed
# from numpy.random import math

import pingouin as pg
from pingouin import pairwise_ttests, pairwise_tukey, pairwise_gameshowell
import statsmodels.stats.multicomp as mc
import scipy.stats as stats
import statsmodels.api as sm
from bioinfokit.analys import stat
from statsmodels.formula.api import ols

sys.path.append(os.path.join(sys.path[0],'C:\Junk\lamb_consulting'))
sys.path.append(os.path.join(sys.path[0],'U:\lamb_consulting'))


# import cox, means, regressions

from lamb_consulting import *

from lamb_consulting.means import means_desc, means_desc_class, aov
from lamb_consulting.freqs import freqs, chi_contingency, chi_oneway
from lamb_consulting.export import export_to_Excel
# from lamb_consulting.regressions import ols, regression_plot
from lamb_consulting.cox import cox
from lamb_consulting.kaplan_meier import km,km_plots


def freqme(ds,var1):
    f=ds[var1].value_counts(dropna=False)
    p=ds[var1].value_counts(normalize=True)
    df=pd.concat({f,p}, axis=1, keys=['frequency', 'percent'])
    df["cumfrequency"] = df["frequency"].cumsum()
    df["cumpercent"] = df["percent"].cumsum()
    return df

In [2]:
print(os.getcwd())
# tpath = "C:/Junk/Weisse/EHPSS/"
tpath = "U:/Fox/Weisse/EHPSS/"
fn="EHPSS20221207"

extension='.xlsx'
file = tpath+fn+extension
file
df = pd.read_excel((file), sheet_name='Data')

df['contrb_v'].fillna(method='ffill')

def male_n(row):
    if row["gender"] == 1 or row["gender"] == 2:
        return 1
    elif row["gender"] == 3 or row["gender"] == 4:
        return 0
    else:
        return -1


def male_c(row):
    if row["gender_1"] == 'MC' or row["gender_1"] == 'MI' or row["gender_1"] == 'NM' or row["gender_1"] == 'MN' or row["gender_1"] == 'ME' or row["gender_1"] == 'M':
        return "M"
    elif row["gender_1"] == 'FS' or row["gender_1"] == 'FI' or row["gender_1"] == 'FE': 
        return "F"
    else:
        return "error"


df['male_n'] = df.apply(male_n,axis=1)
df['male_c'] = df.apply(male_c,axis=1)

cont = ['age_d', 'wt_kg', 'pps_n']
cat = ['male_n', 'breed_n', 'shunt_ty', 'portal_v', 'system_v', 'contrb_v', 'hospital', 'country', 'pps_n']
# cat = ['male_n', 'breed_c']

cont_describe = "age_d wt_kg pps_n"
cat_describe = "male_c breed_nc shunt_ty portal_v system_v contrb_v hospital country pps_n"


# print(df["gender_1"].value_counts())
# print(df["gender"].value_counts())

# print(df["male_c"].value_counts())
# print(df["male_n"].value_counts())

u:\Fox\Weisse\EHPSS

# One Way Frequency

In [4]:

my_list = cat.copy()
my_list.remove("breed_n")
my_list += ['breed_n']

cat_one = pd.DataFrame()
for i in my_list:
    cat_one = cat_one.append(chi_oneway(df,i))


cat_one

,table,var_level,frequency,percent,cumfrequency,cumpercent,p_value
0,Table male_n,0.0,575,0.531423,575,0.531423,0.03871
1,Table male_n,1.0,507,0.468577,1082,1.000000,0.03871
0,Table shunt_ty,1.0,295,0.272643,295,0.272643,0.00000
1,Table shunt_ty,2.0,208,0.192237,503,0.464880,0.00000
2,Table shunt_ty,3.0,165,0.152495,668,0.617375,0.00000
...,...,...,...,...,...,...,...
59,Table breed_n,7.0,1,0.000924,1078,0.996303,0.00000
60,Table breed_n,65.0,1,0.000924,1079,0.997227,0.00000
61,Table breed_n,28.0,1,0.000924,1080,0.998152,0.00000
62,Table breed_n,10.0,1,0.000924,1081,0.999076,0.00000
63,Table breed_n,32.0,1,0.000924,1082,1.000000,0.00000

# Create Top 5 Breed dataset based of of the one-way Chi-Squre Output

In [5]:
# breed_t5_list = [61, 38, 53, 35, 47]
breed_t5_list = df['breed_n'].value_counts().keys()[0:5].sort_values(ascending=False).tolist()
breed_mask = (df['breed_n'].isin(breed_t5_list)) 
breed_t5 = df.loc[breed_mask]
print(breed_t5_list)
print(df.shape)
print(breed_t5.shape)

[61.0, 53.0, 47.0, 38.0, 35.0]
(1082, 27)
(605, 27)

# Two Way Frequency

In [5]:
import itertools
iter_list = list(itertools.combinations(cat, 2))
iter_list

for i in iter_list:
    cross_tmp = chi_contingency(df,"hospital",i,"hospital","chi_cont")
    cross_cat = cross_cat.append(cross_tmp)

cross_tmp = chi_contingency(df,"country","pps_n","country","chi_cont")
cross_cat = cross_cat.append(cross_tmp)

[('male_n', 'breed_n'),
 ('male_n', 'shunt_ty'),
 ('male_n', 'portal_v'),
 ('male_n', 'system_v'),
 ('male_n', 'contrb_v'),
 ('male_n', 'hospital'),
 ('male_n', 'country'),
 ('male_n', 'pps_n'),
 ('breed_n', 'shunt_ty'),
 ('breed_n', 'portal_v'),
 ('breed_n', 'system_v'),
 ('breed_n', 'contrb_v'),
 ('breed_n', 'hospital'),
 ('breed_n', 'country'),
 ('breed_n', 'pps_n'),
 ('shunt_ty', 'portal_v'),
 ('shunt_ty', 'system_v'),
 ('shunt_ty', 'contrb_v'),
 ('shunt_ty', 'hospital'),
 ('shunt_ty', 'country'),
 ('shunt_ty', 'pps_n'),
 ('portal_v', 'system_v'),
 ('portal_v', 'contrb_v'),
 ('portal_v', 'hospital'),
 ('portal_v', 'country'),
 ('portal_v', 'pps_n'),
 ('system_v', 'contrb_v'),
 ('system_v', 'hospital'),
 ('system_v', 'country'),
 ('system_v', 'pps_n'),
 ('contrb_v', 'hospital'),
 ('contrb_v', 'country'),
 ('contrb_v', 'pps_n'),
 ('hospital', 'country'),
 ('hospital', 'pps_n'),
 ('country', 'pps_n')]

In [3]:
import itertools
iter_list = list(itertools.combinations(cat, 2))
iter_list

[('male_n', 'breed_n'),
 ('male_n', 'shunt_ty'),
 ('male_n', 'portal_v'),
 ('male_n', 'system_v'),
 ('male_n', 'contrb_v'),
 ('male_n', 'hospital'),
 ('male_n', 'country'),
 ('male_n', 'pps_n'),
 ('breed_n', 'shunt_ty'),
 ('breed_n', 'portal_v'),
 ('breed_n', 'system_v'),
 ('breed_n', 'contrb_v'),
 ('breed_n', 'hospital'),
 ('breed_n', 'country'),
 ('breed_n', 'pps_n'),
 ('shunt_ty', 'portal_v'),
 ('shunt_ty', 'system_v'),
 ('shunt_ty', 'contrb_v'),
 ('shunt_ty', 'hospital'),
 ('shunt_ty', 'country'),
 ('shunt_ty', 'pps_n'),
 ('portal_v', 'system_v'),
 ('portal_v', 'contrb_v'),
 ('portal_v', 'hospital'),
 ('portal_v', 'country'),
 ('portal_v', 'pps_n'),
 ('system_v', 'contrb_v'),
 ('system_v', 'hospital'),
 ('system_v', 'country'),
 ('system_v', 'pps_n'),
 ('contrb_v', 'hospital'),
 ('contrb_v', 'country'),
 ('contrb_v', 'pps_n'),
 ('hospital', 'country'),
 ('hospital', 'pps_n'),
 ('country', 'pps_n')]

In [19]:
print(len(iter_list))
cross_cat = pd.DataFrame()

my_len = (len(iter_list))
for i in range(0, len(iter_list)):
    # print(i)
    res = [iter_list[i]]
    # print(res)
    # print(type(res))
    a = res[0]
    # print(type(a))
    v1,v2 = a
    # print(v1)
    # print(v2)
    # type(x)
    cross_tmp = chi_contingency(df,v1,v2,"1","chi_cont")
    cross_cat = cross_cat.append(cross_tmp)

type(cross_cat)
cross_cat

36

,r_q_n,analysis,research_q,Table,Frequency,Percent,Missing,iv1,iv2
0,1,chi_cont,1,Table male_n * breed_n,2,0.187441,.,0,1.0
1,1,chi_cont,1,Table male_n * breed_n,0,0.000000,.,0,2.0
2,1,chi_cont,1,Table male_n * breed_n,0,0.000000,.,0,3.0
3,1,chi_cont,1,Table male_n * breed_n,2,0.187441,.,0,4.0
4,1,chi_cont,1,Table male_n * breed_n,4,0.374883,.,0,5.0
...,...,...,...,...,...,...,...,...,...
16,1,chi_cont,1,Table country * pps_n,8,0.742115,.,3,2.0
17,1,chi_cont,1,Table country * pps_n,16,1.484230,.,3,3.0
18,1,chi_cont,1,Table country * pps_n,30,2.782931,.,3,4.0
19,1,chi_cont,1,Table country * pps_n,83,7.699443,.,3,5.0
20,1,chi_cont,1,Table country * pps_n,1078,100.000000,0,.,.

In [6]:

# def chi_contingency(ds,var1,var2,r_q_n,analysis):
# cat = ['male_c', 'breed_c', 'shunt_ty', 'portal_v', 'system_v', 'contrb_v', 'hospital', 'country', 'pps_c']
cat1 = ['breed_n', 'shunt_ty', 'portal_v', 'system_v', 'contrb_v', 'hospital', 'country', 'pps_n']
cat2 = ['shunt_ty', 'portal_v', 'system_v', 'contrb_v', 'hospital', 'country', 'pps_n']
cat3 = ['portal_v', 'system_v', 'contrb_v', 'hospital', 'country', 'pps_n']
cat4 = ['system_v', 'contrb_v', 'hospital', 'country', 'pps_n']
cat5 = ['contrb_v', 'hospital', 'country', 'pps_n']
cat6 = ['hospital', 'country', 'pps_n']
cat7 = ['country', 'pps_n']

cross_cat = pd.DataFrame()

# del(tmp)
for i in cat1:
    cross_tmp = chi_contingency(df,"male_n",i,"male_n","chi_cont")
    cross_cat = cross_cat.append(cross_tmp)

del(cross_tmp)
for i in cat2:
    cross_tmp = chi_contingency(df,"breed_n",i,"breed_n","chi_cont")
    cross_cat = cross_cat.append(cross_tmp)

del(cross_tmp)
for i in cat3:
    cross_tmp = chi_contingency(df,"shunt_ty",i,"shunt_ty","chi_cont")
    cross_cat = cross_cat.append(cross_tmp)

del(cross_tmp)
for i in cat4:
    cross_tmp = chi_contingency(df,"portal_v",i,"portal_v","chi_cont")
    cross_cat = cross_cat.append(cross_tmp)

del(cross_tmp)
for i in cat5:
    cross_tmp = chi_contingency(df,"system_v",i,"system_v","chi_cont")
    cross_cat = cross_cat.append(cross_tmp)

del(cross_tmp)
for i in cat6:
    cross_tmp = chi_contingency(df,"contrb_v",i,"contrb_v","chi_cont")
    cross_cat = cross_cat.append(cross_tmp)

del(cross_tmp)
for i in cat7:
    cross_tmp = chi_contingency(df,"hospital",i,"hospital","chi_cont")
    cross_cat = cross_cat.append(cross_tmp)

cross_tmp = chi_contingency(df,"country","pps_n","country","chi_cont")
cross_cat = cross_cat.append(cross_tmp)


# print(type(cross_cat))
# print(cross_cat)

cross_cat.head()

,r_q_n,analysis,research_q,Table,Frequency,Percent,Missing,iv1,iv2
0,male_n,chi_cont,male_n,Table male_n * breed_n,2,0.187441,.,0,1.0
1,male_n,chi_cont,male_n,Table male_n * breed_n,0,0.000000,.,0,2.0
2,male_n,chi_cont,male_n,Table male_n * breed_n,0,0.000000,.,0,3.0
3,male_n,chi_cont,male_n,Table male_n * breed_n,2,0.187441,.,0,4.0
4,male_n,chi_cont,male_n,Table male_n * breed_n,4,0.374883,.,0,5.0

# Descriptive Means first Overall then by Class

In [7]:

# df = df.astype({'pps_n': 'int64', 'contrb_v': 'int64'})
# cat_c = ['male_c', 'breed_nc', 'shunt_ty', 'portal_v', 'system_v', 'contrb_v', 'hospital', 'country', 'pps_n']
# pps_n          1078 non-null   float64

m_desc = pd.DataFrame()
m_class = pd.DataFrame()

for i in cont:
        desc_tmp = means_desc(df, i)
        m_desc = m_desc.append(desc_tmp)

print(m_desc)

for i in cat:
    for j in cont:
        desc_class_tmp = means_desc_class(df,j, i)
        m_class = m_class.append(desc_class_tmp)

print(m_class)

      ds  nmiss       n         mean  median          std     min      max  \
0  age_d      0  1082.0  1426.200739  722.50  3669.004669 -548.00  41319.0
0  wt_kg     15  1067.0     4.828744    4.44     2.627325    0.83     12.0
0  pps_n      4  1078.0     3.336735    4.00     1.630935    1.00      5.0

      p25      p75
0  298.00  1682.50
0    2.61     6.35
0    2.00     5.00
        ds  level    var  nmiss      n         mean  median          std  \
0   male_n    1.0  age_d    0.0  507.0  1353.570020   693.0  3126.360063
1   male_n    0.0  age_d    0.0  575.0  1490.242087   733.0  4089.853875
0   male_n    1.0  wt_kg    4.0  503.0     5.216183     4.8     2.707534
1   male_n    0.0  wt_kg   11.0  564.0     4.483209     4.0     2.505961
0   male_n    1.0  pps_n    2.0  505.0     3.443564     4.0     1.602727
..     ...    ...    ...    ...    ...          ...     ...          ...
1    pps_n    5.0  pps_n    0.0  413.0     5.000000     5.0     0.000000
2    pps_n    3.0  pps_n    0.0  137.0     3.000000     3.0     0.000000
3    pps_n    4.0  pps_n    0.0  167.0     4.000000     4.0     0.000000
4    pps_n    2.0  pps_n    0.0   92.0     2.000000     2.0     0.000000
5    pps_n    NaN  pps_n    0.0    0.0          NaN     NaN          NaN

       min      max       p25       p75
0  -548.00  41319.0  305.0000  1806.000
1     0.00  41317.0  295.0000  1623.000
0     0.83     12.0    2.9400     7.125
1     0.86     11.9    2.4025     6.000
0     1.00      5.0    2.0000     5.000
..     ...      ...       ...       ...
1     5.00      5.0    5.0000     5.000
2     3.00      3.0    3.0000     3.000
3     4.00      4.0    4.0000     4.000
4     2.00      2.0    2.0000     2.000
5      NaN      NaN       NaN       NaN

[495 rows x 12 columns]

# Overall F Test

In [8]:

#Init Dict for DF to fill
data_dict = {}
mt_data  = pd.DataFrame()


# Set up affectional naming for stratified LOB
# lob_dict_in = {1:['lob_auto'], 2:['lob_hl'], 3:['lob_wfvc']}
lob_dict_in = {1:['df']}
lob_df = pd.DataFrame(lob_dict_in)
lob_df = lob_df.T.reset_index()
lob_df.rename(columns={0: 'ds_name', 'index': 'df_num'}, inplace = True)


# Set up affection Dict naming for DV
# dv_dict_in = {1:['sentiment'], 2:['count of calls']}
dv_dict_in = {1:['wt_kg'], 2:['age_d'], 3:['pps_n']}
dv_df = pd.DataFrame(dv_dict_in)
dv_df = dv_df.T.reset_index()
dv_df.rename(columns={0: 'dv_name', 'index':'dv_num'}, inplace=True)


# Set up Dict for Model ID to b merge from above dict
# lob_ds = {1:lob_auto, 2:lob_hl, 3:lob_wfvc}
lob_ds = {1:df}
# Set up dict for DVs
dvs = {1:'wt_kg', 2:'age_d', 3:'pps_n'}

for i in cat:
    for k1,v1 in dvs.items():
        for k,v in lob_ds.items():
            model = ols(v1 + ' ~ C(' + i + ')', data =v).fit()
            tmp = sm.stats.anova_lm(model, type=2) #typ = 2 also works
            tmp['df_num'] = k
            tmp['dv_num'] = k1
            tmp['iv'] = i
            data_dict[k] = tmp
            mt_data = mt_data.append(data_dict[k])


df_ftest = pd.merge(mt_data, lob_df, on=["df_num"])
df_ftest = pd.merge(df_ftest, dv_df, on=["dv_num"])
df_ftest

,df,sum_sq,mean_sq,F,PR(>F),df_num,dv_num,iv,ds_name,dv_name
0,1.0,1.428432e+02,1.428432e+02,2.108325e+01,4.921757e-06,1,1,male_n,df,wt_kg
1,1065.0,7.215583e+03,6.775195e+00,NaN,NaN,1,1,male_n,df,wt_kg
2,62.0,3.541848e+03,5.712658e+01,1.495010e+01,2.129818e-103,1,1,breed_n,df,wt_kg
3,990.0,3.782940e+03,3.821152e+00,NaN,NaN,1,1,breed_n,df,wt_kg
4,43.0,5.142936e+02,1.196032e+01,1.787722e+00,1.563244e-03,1,1,shunt_ty,df,wt_kg
5,1023.0,6.844132e+03,6.690256e+00,NaN,NaN,1,1,shunt_ty,df,wt_kg
6,8.0,1.937846e+02,2.422308e+01,3.577013e+00,4.177852e-04,1,1,portal_v,df,wt_kg
7,1058.0,7.164641e+03,6.771873e+00,NaN,NaN,1,1,portal_v,df,wt_kg
8,8.0,1.840302e+02,2.300377e+01,3.392340e+00,7.438002e-04,1,1,system_v,df,wt_kg
9,1058.0,7.174396e+03,6.781092e+00,NaN,NaN,1,1,system_v,df,wt_kg
10,12.0,9.361011e+01,7.800842e+00,1.235738e+00,2.566011e-01,1,1,contrb_v,df,wt_kg
11,348.0,2.196819e+03,6.312697e+00,NaN,NaN,1,1,contrb_v,df,wt_kg
12,12.0,7.796618e+02,6.497182e+01,1.040930e+01,1.174160e-19,1,1,hospital,df,wt_kg
13,1054.0,6.578764e+03,6.241712e+00,NaN,NaN,1,1,hospital,df,wt_kg
14,3.0,4.157401e+02,1.385800e+02,2.121810e+01,2.365239e-13,1,1,country,df,wt_kg
15,1063.0,6.942686e+03,6.531219e+00,NaN,NaN,1,1,country,df,wt_kg
16,4.0,2.038028e+02,5.095070e+01,7.596644e+00,4.925210e-06,1,1,pps_n,df,wt_kg
17,1058.0,7.096007e+03,6.707001e+00,NaN,NaN,1,1,pps_n,df,wt_kg
18,1.0,5.032781e+06,5.032781e+06,3.736456e-01,5.411524e-01,1,2,male_n,df,age_d
19,1080.0,1.454695e+10,1.346940e+07,NaN,NaN,1,2,male_n,df,age_d
20,62.0,3.538781e+08,5.707712e+06,4.039750e-01,9.999894e-01,1,2,breed_n,df,age_d
21,1004.0,1.418539e+10,1.412887e+07,NaN,NaN,1,2,breed_n,df,age_d
22,43.0,6.657192e+08,1.548184e+07,1.157270e+00,2.280318e-01,1,2,shunt_ty,df,age_d
23,1038.0,1.388627e+10,1.337790e+07,NaN,NaN,1,2,shunt_ty,df,age_d
24,8.0,1.153754e+08,1.442192e+07,1.071908e+00,3.803063e-01,1,2,portal_v,df,age_d
25,1073.0,1.443661e+10,1.345444e+07,NaN,NaN,1,2,portal_v,df,age_d
26,8.0,8.433989e+07,1.054249e+07,7.818887e-01,6.187629e-01,1,2,system_v,df,age_d
27,1073.0,1.446764e+10,1.348336e+07,NaN,NaN,1,2,system_v,df,age_d
28,12.0,2.345328e+07,1.954440e+06,1.133523e-01,9.999177e-01,1,2,contrb_v,df,age_d
29,350.0,6.034762e+09,1.724218e+07,NaN,NaN,1,2,contrb_v,df,age_d
30,12.0,8.620595e+08,7.183829e+07,5.609609e+00,2.125556e-09,1,2,hospital,df,age_d
31,1069.0,1.368992e+10,1.280629e+07,NaN,NaN,1,2,hospital,df,age_d
32,3.0,3.104802e+07,1.034934e+07,7.683107e-01,5.118433e-01,1,2,country,df,age_d
33,1078.0,1.452094e+10,1.347026e+07,NaN,NaN,1,2,country,df,age_d
34,4.0,2.170029e+08,5.425072e+07,4.062206e+00,2.834389e-03,1,2,pps_n,df,age_d
35,1073.0,1.432990e+10,1.335499e+07,NaN,NaN,1,2,pps_n,df,age_d
36,1.0,1.084274e+01,1.084274e+01,4.087985e+00,4.343620e-02,1,3,male_n,df,pps_n
37,1076.0,2.853923e+03,2.652344e+00,NaN,NaN,1,3,male_n,df,pps_n
38,62.0,2.667021e+02,4.301646e+00,1.676139e+00,1.084291e-03,1,3,breed_n,df,pps_n
39,1000.0,2.566402e+03,2.566402e+00,NaN,NaN,1,3,breed_n,df,pps_n
40,43.0,6.734817e+02,1.566236e+01,7.390593e+00,5.760380e-37,1,3,shunt_ty,df,pps_n
41,1034.0,2.191284e+03,2.119230e+00,NaN,NaN,1,3,shunt_ty,df,pps_n
42,8.0,1.776439e+02,2.220549e+01,8.833864e+00,9.229741e-12,1,3,portal_v,df,pps_n
43,1069.0,2.687121e+03,2.513678e+00,NaN,NaN,1,3,portal_v,df,pps_n
44,8.0,3.981686e+02,4.977107e+01,2.157032e+01,1.309215e-30,1,3,system_v,df,pps_n
45,1069.0,2.466597e+03,2.307387e+00,NaN,NaN,1,3,system_v,df,pps_n
46,12.0,4.187513e+01,3.489594e+00,1.401527e+00,1.628877e-01,1,3,contrb_v,df,pps_n
47,348.0,8.664684e+02,2.489852e+00,NaN,NaN,1,3,contrb_v,df,pps_n
48,12.0,1.363019e+02,1.135849e+01,4.433556e+00,5.810355e-07,1,3,hospital,df,pps_n
49,1065.0,2.728463e+03,2.561937e+00,NaN,NaN,1,3,hospital,df,pps_n
50,3.0,7.744529e+01,2.581510e+01,9.946979e+00,1.803303e-06,1,3,country,df,pps_n
51,1074.0,2.787320e+03,2.595270e+00,NaN,NaN,1,3,country,df,pps_n
52,4.0,2.864765e+03,7.161913e+02,3.029956e+31,0.000000e+00,1,3,pps_n,df,pps_n
53,1073.0,2.536252e-26,2.363702e-29,NaN,NaN,1,3,pps_n,df,pps_n

# Diffs with Tukeys Adjustment

In [9]:

res = stat()
data_dict = {}
mt_data = pd.DataFrame()

for i in cat:
    for k1,v1 in dvs.items():
        for k, v in lob_ds.items():
            res.tukey_hsd(df=v, res_var=v1, xfac_var=i, anova_model=v1 + ' ~ C(' + i + ')')
            tmp = res.tukey_summary
            tmp['df_num'] = k
            tmp['dv_num'] = k1
            tmp['iv'] = i
            data_dict[k] = tmp
            mt_data = mt_data.append(data_dict[k])


dt_diffs = pd.merge(mt_data, lob_df, on=["df_num"])
dt_diffs = pd.merge(dt_diffs, dv_df, on=["dv_num"])
dt_diffs

,group1,group2,Diff,Lower,Upper,q-value,p-value,df_num,dv_num,iv,ds_name,dv_name
0,1.0,0.0,0.712831,0.182803,1.242858,3.740684e+00,0.008533,1,1,male_n,df,wt_kg
1,27.0,53.0,0.047336,-2.270016,2.364688,1.119378e-01,0.900000,1,1,breed_n,df,wt_kg
2,27.0,35.0,2.359813,0.171177,4.548449,5.908565e+00,0.017185,1,1,breed_n,df,wt_kg
3,27.0,62.0,0.626786,-3.560321,4.813893,8.203196e-01,0.900000,1,1,breed_n,df,wt_kg
4,27.0,22.0,0.910714,-4.672095,6.493524,8.939380e-01,0.900000,1,1,breed_n,df,wt_kg
...,...,...,...,...,...,...,...,...,...,...,...,...
3745,5.0,3.0,2.000000,2.000000,2.000000,4.568972e+15,0.001000,1,3,pps_n,df,pps_n
3746,5.0,4.0,1.000000,1.000000,1.000000,2.518275e+15,0.001000,1,3,pps_n,df,pps_n
3747,2.0,3.0,1.000000,1.000000,1.000000,1.821619e+15,0.001000,1,3,pps_n,df,pps_n
3748,2.0,4.0,2.000000,2.000000,2.000000,3.867426e+15,0.001000,1,3,pps_n,df,pps_n
3749,3.0,4.0,1.000000,1.000000,1.000000,2.120458e+15,0.001000,1,3,pps_n,df,pps_n

# ANOVA of continuous vars with top 5 Breed IV

In [12]:

res = stat()
data_dict = {}
t5_breed_data = pd.DataFrame()

dvs = {1:'wt_kg', 2:'age_d', 3:'pps_n'}

cat_breed = ['breed_n']
ds_breed = {1:breed_t5}

for i in cat_breed:
    for k1,v1 in dvs.items():
        for k, v in ds_breed.items():
            res.tukey_hsd(df=v, res_var=v1, xfac_var=i, anova_model=v1 + ' ~ C(' + i + ')')
            tmp = res.tukey_summary
            tmp['df_num'] = k
            tmp['dv_num'] = k1
            tmp['iv'] = i
            data_dict[k] = tmp
            t5_breed_data = t5_breed_data.append(data_dict[k])


breed_diffs = pd.merge(t5_breed_data, lob_df, on=["df_num"])
breed_diffs = pd.merge(breed_diffs, dv_df, on=["dv_num"])
breed_diffs

,group1,group2,Diff,Lower,Upper,q-value,p-value,df_num,dv_num,iv,ds_name,dv_name
0,53.0,35.0,2.312477,1.212822,3.412132,8.175540,0.001000,1,1,breed_n,df,wt_kg
1,53.0,61.0,2.537859,1.482220,3.593498,9.346470,0.001000,1,1,breed_n,df,wt_kg
2,53.0,38.0,0.102148,-1.116693,1.320989,0.325820,0.900000,1,1,breed_n,df,wt_kg
3,53.0,47.0,1.713050,0.391189,3.034912,5.038249,0.004029,1,1,breed_n,df,wt_kg
4,35.0,61.0,0.225382,-0.679180,1.129944,0.968672,0.900000,1,1,breed_n,df,wt_kg
5,35.0,38.0,2.414625,1.324013,3.505236,8.607462,0.001000,1,1,breed_n,df,wt_kg
6,35.0,47.0,4.025527,2.820879,5.230175,12.991461,0.001000,1,1,breed_n,df,wt_kg
7,61.0,38.0,2.640007,1.593792,3.686222,9.810240,0.001000,1,1,breed_n,df,wt_kg
8,61.0,47.0,4.250909,3.086302,5.415516,14.190506,0.001000,1,1,breed_n,df,wt_kg
9,38.0,47.0,1.610902,0.296554,2.925250,4.764906,0.007774,1,1,breed_n,df,wt_kg
10,53.0,35.0,699.940186,-1737.426877,3137.307249,1.116440,0.900000,1,2,breed_n,df,age_d
11,53.0,61.0,314.843103,-2024.963062,2654.649267,0.523130,0.900000,1,2,breed_n,df,age_d
12,53.0,38.0,1236.579659,-1464.961890,3938.121207,1.779533,0.691622,1,2,breed_n,df,age_d
13,53.0,47.0,1162.151544,-1767.732822,4092.035911,1.542083,0.786479,1,2,breed_n,df,age_d
14,35.0,61.0,385.097083,-1619.850130,2390.044296,0.746729,0.900000,1,2,breed_n,df,age_d
15,35.0,38.0,1936.519845,-480.802471,4353.842160,3.114461,0.182329,1,2,breed_n,df,age_d
16,35.0,47.0,462.211358,-2207.871569,3132.294286,0.672994,0.900000,1,2,breed_n,df,age_d
17,61.0,38.0,1551.422761,-767.495492,3870.341014,2.600999,0.354071,1,2,breed_n,df,age_d
18,61.0,47.0,847.308442,-1734.024068,3428.640952,1.276125,0.892726,1,2,breed_n,df,age_d
19,38.0,47.0,2398.731203,-514.499199,5311.961605,3.201122,0.160665,1,2,breed_n,df,age_d
20,53.0,35.0,0.597696,-0.303493,1.498885,2.578457,0.363317,1,3,breed_n,df,pps_n
21,53.0,61.0,1.148473,0.283356,2.013590,5.161090,0.002964,1,3,breed_n,df,pps_n
22,53.0,38.0,0.573969,-0.424896,1.572833,2.233969,0.510079,1,3,breed_n,df,pps_n
23,53.0,47.0,1.489382,0.406090,2.572674,5.345104,0.001848,1,3,breed_n,df,pps_n
24,35.0,61.0,0.550777,-0.190530,1.292084,2.888507,0.249052,1,3,breed_n,df,pps_n
25,35.0,38.0,0.023727,-0.870050,0.917505,0.103208,0.900000,1,3,breed_n,df,pps_n
26,35.0,47.0,0.891686,-0.095547,1.878919,3.511461,0.097916,1,3,breed_n,df,pps_n
27,61.0,38.0,0.574504,-0.282889,1.431898,2.605004,0.352439,1,3,breed_n,df,pps_n
28,61.0,47.0,0.340909,-0.613510,1.295328,1.388657,0.847770,1,3,breed_n,df,pps_n
29,38.0,47.0,0.915414,-0.161721,1.992548,3.304023,0.136977,1,3,breed_n,df,pps_n

In [13]:
my_sheets = ['cat_one' 'cross_cat' 'm_desc' 'm_class' 'dt_diffs' 'breed_diffs']

writer = pd.ExcelWriter('ephss_out_20221219a.xlsx', engine = 'xlsxwriter')
# for i in my_sheets:
#     [i].to_excel(writer,sheet_name=i)
cat_one.to_excel(writer,sheet_name='cat_one')
cross_cat.to_excel(writer,sheet_name='cross_cat')
m_desc.to_excel(writer,sheet_name='m_desc')
m_class.to_excel(writer,sheet_name='m_class')
dt_diffs.to_excel(writer,sheet_name='dt_diffs')
breed_diffs.to_excel(writer,sheet_name='breed_diffs')
writer.save()

In [4]:
my_sheets = ['df']

writer = pd.ExcelWriter('df.xlsx', engine = 'xlsxwriter')
# for i in my_sheets:
#     [i].to_excel(writer,sheet_name=i)
df.to_excel(writer,sheet_name='data')
writer.save()

In [ ]:
# my_list = cont.copy()
# my_list += ['male_c']



# print(cont)
# print(type(cont))
# my_list = cont.copy()
# print(my_list)
# print(type(my_list))
# my_list += ['male_c']
# print(my_list)


# my_df = df[df.columns[df.columns.isin(my_list)]]

# print(my_df)
# my_df1 = df['wt_kg'].groupby(['male_c']).describe()
# df_2 = pd.DataFrame(df['wt_kg'].describe().tolist(), columns = ['Test2'])
# df_2 = pd.DataFrame(df['wt_kg'].groupby([male_c']).describe(), columns = ['Test2'])
# tmp = df.groupby(['male_c']).mean().reset_index()
# print(tmp)

# ds_counts = df["ds_size"].unique().tolist()
# dt_counts = df["month_year"].unique().tolist()

# blank_df = pd.DataFrame()
# for j in dt_counts:
#     for i in ds_counts:
#         tmp_prec = df.copy()
#         tp_prec = tmp_prec[['tot', 'recall', 'month_year']]
#         tmp_makse = (tmp_prec['tot'] == 1) & (tmp_prec['month_year'] == j)
#         tmp = tmp_prec.loc[tmp_mask]
#         tmp_df = tmp.describe(percentiles=[0.1, 0.25, 0.5, 0.75, 0.9])
#         tmp_df = tmp_df.T
#         tmp_df['ds_size'] = i
#         tmp_df['dt'] = j
#         blank_df = blank_df.append(tmp_df)

# print(blank_df.head(5))
# print(blank_df.tail(5))
# print(len(blank_df))

In [ ]:
# aov1 = aov(npl,"age_d","male_c",1)
# aov1 = aov(npl,"wt_kg","male_c",1)
# aov1 = aov(npl,"pps_n","male_c",1)
# aov1


def aovme(iv):
    # blank_aov = pd.DataFrame()
    for i in cont:
        tmp = df.copy()
        tmp_df = aov(tmp,i,iv,1)        
        tmp_df['dv'] = i
        tmp_df['iv'] = iv
        print(tmp_df)
        blank_aov = blank_aov.append(tmp_df)        
    return blank_aov
        


# cat = ['male_n', 'breed_c', 'shunt_ty', 'portal_v', 'system_v', 'contrb_v', 'hospital', 'country', 'pps_c']
# my_aov = aovme('male_c')
# my_aov = aovme('shunt_ty') # Too many levels for ANOVA
# aovme('breed') # Too many levels for ANOVA
# my_aov = aovme('portal_v') # Too many levels for ANOVA
# my_aov = aovme('system_v') # Too many levels for ANOVA
my_aov = aovme('contrb_v') # Too many levels for ANOVA


# print(blank_aov.head(5))
# print(blank_aov.tail(5))
# print(len(blank_aov))
# breed_c shunt_ty portal_v sysem_v contrb_v hospital country pps_c

:

In [63]:
# s = sorted([str(round(i * 100, 1)) for i in npl['age_d']])
s = sorted([str(round(i * .01, 2)) for i in npl['age_d']])


s = (
    pd.Series(s)
    .groupby([str(int(float() )) for i in s])
    .apply(lambda group: "".join((x[-1] for x in group)))
    .reset_index()
)

print("\n".join(s['index'] + ' | ' + s[0]))

stemme = ("\n".join(s['index'] + ' | ' + s[0]))

stemmedf = pd.DataFrame([x.split(';') for x in stemme.split('\n')])

0 | 50000000000004568888999999111111112222222222222333333333333333444444444444555555555555555555555666666666677777777777778888888888888888888999999999922222222221111111111111122222222222222222333333344444444455555555555555566666666666666777777777778888888888888888899999999333333333333311111111122222222222222233333333444455555555666666666667777777777778888889999999999444444444444444111222222222333344444444555555555566666666677778888999995555111111222333333444455556666677778888889996666111112222223333334444455555566666777788899777777711111223333333333333344444455555566666777788899999881122333555558888888999999911122233444444445556677800011112233334456688888899999111111111111111111222223344444556678999922123455566666778889931111122222334577889444223455555566666666778889955555511222334569961222233334445666788744566777789811223333334555666778899991333445556778888900112223334458822333446779999222211122233445577778899911223356777889944423566723666678886666112233344569712566788988245689999922244445577723444668921244791244134997234457779169677882624942022823357814774799668532298

In [9]:
# ds_counts = npl["ds_size"].unique().tolist()
# dt_counts = npl["month_year"].unique().tolist()
# blank_df = pd.DatFrame()
# for j in dt_counts:
#     for i in ds_counts:
#         tmp_prec = npl.copy()
#         tmp_prec = tmp_prec[['tot', 'recall', "month_year']]
#         tmp_mask = tmp_prec['tot'] == i) & (tmp_prec['monthy_year'] == j)
#         tmp = tmp_prec.loc[tmp_mask]
#         tmp_df = tmp.describe(percentiles=[0.1, 0.25, 0.5, 0.75, 0.9])
#         tmp_df = tmp_df.T
#         tmp_df['ds_size'] = i
#         tmp['dt'] = j
# 
#         blank_df = blank_df.append(tmp_df)

#         print(blank_df.head(5))
#         print(blank_df.tail(5))
#         print(len(blank_df))



blank_df = pd.DataFrame()

for i in cont:
    tmp = npl.copy()
    tmp_df = means_desc(npl,i)
    tmp_df = tmp_df.T
    tmp_df['iv'] = i
    blank_df = blank_df.append(tmp_df)

    print(blank_df.head(5))
    print(blank_df.tail(5))
    print(len(blank_df))

                  0     iv
ds            age_d  age_d
nmiss             0  age_d
n            1082.0  age_d
mean    1426.200739  age_d
median        722.5  age_d
               0     iv
std  3669.004669  age_d
min       -548.0  age_d
max      41319.0  age_d
p25        298.0  age_d
p75       1682.5  age_d
10

KeyError: "['mean', 'median', 'std', 'min', 'max', 'p25', 'p75'] not in index"

In [ ]:
import saspy, os, pandas as pd
print(saspy.__file__.replace('__init__.py', 'sascfg_personal.py'))
#  {SAS004}80898A647C57DF69657904C24EDA7E237590869733B342AC
# sas = saspy.SASsession()
sas = saspy.SASsession(cfgname='oda')
sas
hr = sas.df2sd(df)  # the short form of: hr = sas.dataframe2sasdata(hr_pd)
hr.columnInfo()
# hr.head()
# hr.means()
# hr.bar('age_d')
# hr.hist('wt_kg')
# hr.heatmap('age_d', 'male_c')
c = sas.submitLST("""
proc sgpanel data=work._df;
    PANELBY pps_n;
    hbar male_n / response=wt_kg    stat=median;
    hbar male_n / response=age_d stat=median;
run;
""")

In [ ]:
# Cntrl 1 Comment Out
# edj.rename(columns = {'SYMBOL/CUSIP':'ticker','SHARES':'vol'}, inplace = True) 
# print(type(df))
# print(df.head(2))
# df.info()
# for i in df.columns:
#     print(i)


# npl['sex'] = npl['GENDER'].astype(int)
# npl.info()
# npl = npl.astype({'wt_kgs': 'float64'})
# npl['wt'] = npl['wt_kgs'].apply(lambda x: float(x.split()[0].replace('', 'NaN')))
# npl['pps_n'].describe()
# npl = npl.astype({'wt': 'float64'})
# npl.describe()

# all_df = all_df.astype({'recall': 'float64', 'ds_size': 'float64'})
# all_df.info()

# all_df['monht_year'] = pd.to_datetime(all_df['dt']).dt.to_period("M")

# all_df['condition'] = ""

# all_df.loc[(all_df['tp'] ==1), "condtion"] = 'tp'

# all_df['gt'] = all_df.xxx.apply(lambda x: 1 if x == "Y" else 0)
# all_df = all_df[all_df.coumns[~all_df.columns.isin(['xxx'])]]


# month_data = []
# gridvars = ['tp', 'tn', 'fn', 'fp']
# for i in time_mo:
#     my_mo = df.loc[(df[month_year] == i)]
#     print(my_mo)
#     print(len(my_mo))
#     df_in = my_modfs = df_in[gridvars].sum
#     dfs = dfs.to_frame()
#     dft = dfs.transpose()
#     dft['tot'] = dft.sum(axis=1)
#     dft['tpfn'] = dft.loc[:,['tp','fn']].sum(axis=1)
#     dft['tpfp'] = dft.loc[:,['tp','fp']].sum(axis=1)
#     dft['fpfn'] = dft.loc[:,['fp','fn']].sum(axis=1)
#     dft['recall'] = dft.tp / dft.tpfn
#     dft['precision'] = dft.tp / dft.tpfn
#     dft['recall'] = dft.tp / dft.tpfp
#     dft['pct_gtc'] = dft.tpfn / dft.tot
#     dft['pct_nsc'] = dft.fpfn / dft.tot
#     dft['month_id'] = i
#     month_data.append(dft)


# month_df.rename(column={0:'tp', 1: 'tn'}, inplace = True)

# df.loc[(df['gt'] == 1) & (df['mod'] == 1), 'tp'] = 1
# df.loc[(df['gt'] == 0) & (df['mod'] == 0), 'tn'] = 1

# df['condition'] = ""
# df.loc[(df['Price'] <=100) & (df['Category']=='A'), "Flag"] = 'X'
# df.loc[(df['tp'] ==1), "condition"] = 'tp'
# df.loc[(df['tn'] ==1), "condition"] = 'tn'


# def pef_c(row):
#     if  row['date'] < '2020-03-01':
#         val = 'pre'
#     elif row['date'] >= '2020-03-01' and row['date'] < '2022-03-01':
#         val = 'during'
#     elif row['date'] >= '2022-03-01':
#         val = 'post'
#     else:
#         val = 'error'
#     return val



# def checkAge(inpAge, minAge):
#     if(inpAge>=minAge):
#         return 'senior'
#     else:
#         return 'fresher'
    
# npl['age_ty']=npl['AGE_DAYS'].apply(checkAge, args=(25,))

 
# Priting data
# print(npl.male_n)
# print(npl.male_c)

# npl['sex'] = npl['GENDER'].astype(str)


# npl['male_c'] = (dataFrame.loc[(dataFrame['Salary']>=100000) & (dataFrame['Age']< 40) & (dataFrame['JOB'].str.startswith('D')),
#                     ['Name','JOB']])
# ['sex'] = npl['GENDER'].astype(int)

# import statsmodels.api as sm
# from statsmodels.formula.api import ols
# aov1 = ols('age_d ~ C(gender)',data=df).fit()
# table = sm.stats.anova_lm(aov1, typ=2) # Type 2 Anova DataFrame
# print(table)

from saspy import SASsession
sas = SASsession(results='HTML')
print(type(sas))